{% extends '../shared/base.html' %}
{% load static %}
{% block content %}

{% comment %} <div id="spinner-box" class="d-flex justify-content-center mt-5">
  <div class="spinner-border " role="status"></div>
</div> {% endcomment %}
<div class="container">
  
{% if entity == 'prescriber' %}
  <table class="table">
    <thead>
        <tr>
            <th scope="col" >First Name</th>
            <th scope="col" >Last Name</th>
            <th scope="col" >Gender</th>
            <th scope="col" >State</th>
            <th scope="col" >Specialty</th>
            <th scope="col" >Is Opioid Prescriber</th>
            <th scope="col" >Total Prescriptions</th>
        </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <td>{{record.fname}}</td>
        <td>{{record.lname}}</td>
        <td>{{record.gender}}</td>
        <td>{{record.state}}</td>
        <td>{{record.specialty}}</td>
        <td>{{record.isopioidprescriber}}</td>
        <td>{{record.totalprescriptions}}</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <p>recommended drugs: </p>
  <ul>
  {% for drug in recommended_drugs %}
  <li>
  {{forloop.counter}}: {{drug}}
  </li>
  {% endfor %}
  </ul>
  <br><br>

  {% for drug in drugname %}
  <p>Drug: {{drug}}</p>
  {% endfor %}
  {% for item in quantity %}
  <p>Quantity: {{item}}</p>
  {% endfor %}
  {% for avg in average %}
  <p>Average: {{avg}}</p>
  {% endfor %}


{% else %}
  <table class="table">
    <thead>
        <tr>
            <th scope="col" >Drug Name</th>
            <th scope="col" >Is Opioid</th>
        </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <td>{{record.drugname}}</td>
        <td>{{record.isopioid}}</td>
      </tr>
    </tbody>
  </table>
  <p>recommended prescribers: </p>
  <ul>
  {% for prescriber in recommended_prescribers %}
  <li>
  {{forloop.counter}}: {{prescriber}}
  </li>
  {% endfor %}
  </ul>
  <div>
    <p>{{record.drugname}} has been prescribed {{total_prescriptions}} times</p>
  </div>
{% endif %}

<br>
<p>Top Ten Prescribers of {{record.drugname}}</p>
<ol>
{% for item in querito%}
  <li>{{item.fname}} {{item.lname}}</li>
{% endfor %}
</ol>
{% comment %} <p>{{querito}}</p> {% endcomment %}
</div>
{% comment %} |slice:'31:41' {% endcomment %}


{% endblock %}