{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="container center-contents">
    <div class="text-center narrow">
    <div class="form-signin my-4">
      <form>
        <img class="mb-4" src="{% static 'img/logo/logo-notext-nobg.png' %}" alt="" width="72">
        <h1 class="h3 mb-3 fw-normal">Create an account</h1>
    
        <div class="form-floating mb-2">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-2">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Confirm Password</label>
          </div>
    
        </form>
        <button class="w-100 btn btn-lg btn-primary" onclick="location.href='{% url 'prescriber_index' %}'">Continue</button>

        <p class="mt-5 mb-3 text-muted">© Prescribeless 2021</p>
      
    </div>
    </div>
</div>

{% endblock content %}